<div id="footerDiv">
<footer>
    <div class="content has-text-centered has-text-grey-light">
      <p id="footerDetails">
        <small>© Copyright 2022 Alisson Ricardo™</small>
      </p>
    </div>
  </footer>
  </div>
</body>
</html>