<%- include('./partials/header.ejs') %>
    <h1 class="title has-text-centered pt-3 has-text-white">The Music Box</h1>

    <h3 class="subtitle has-text-centered has-text-white">Add Tunes!</h3>

    <% if (typeof alert != 'undefined') { %>
      <% alert.forEach(function(error) { %>
       <div id="formAlert" class="container is-fluid">
         <div class="notification is-warning is-light">
           <%= error.msg %>
           <button class="delete"></button>
         </div>
         </div>
      <% }) %> 
     <% } %>

    <div id="form" class="container is-fluid">
    <form method="POST" action="/music">
      <div class="field">
        <label class="label has-text-info">Title</label>
        <div class="control">
        <input class="input" id="title" type="text" name="title" placeholder="Enter song/album title">
        </div>
      </div>
      <div class="field">
          <label class="label has-text-info">Artist</label>
          <div class="control">
          <input class="input" id="artist" type="text" name="artist" placeholder="Enter artist name">
          </div>
        </div>
        <div class="field">
          <label class="label has-text-info">Link to Song</label>
          <div class="control">
          <input class="input" id="link" type="url" name="link" placeholder="Share Youtube/Spotify link">
          </div>
        </div>
        <div class="field">
            <label class="label has-text-info">Song/Album Image</label>
            <div class="control">
            <input class="input" id="image" type="url" name="image" placeholder="URL only">
            </div>
          </div>
          <div class="field">
              <label class="label has-text-info">Note about the music</label>
              <div class="control">
              <input class="input" id="note" type="text" name="note" placeholder="Thoughts...">
              </div>
            </div>
            <label for="album"><strong>Is this an album?</strong></label>
            <input id="album" type="checkbox" name="album">
            <p class="py-2">
            <button class="button is-success">Add to The Music Box</button>
            </p>
    </form>
    </div>

<%- include('./partials/footer.ejs') %>